{% load staticfiles %}
<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'fixes.css' %}"/>
    </head>

    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Employee lister</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li{% if request.resolver_match.url_name == 'list' %} class="active"{% endif %}>
                            <a href="{% url 'list' %}">Employees list <span class="sr-only">(current)</span></a>
                        </li>
                        <li{% if request.resolver_match.url_name == 'alphabetic' %} class="active"{% endif %}>
                            <a href="{% url 'alphabetic' %}">Alphabetic navigation</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            {% block content %}{% endblock %}
        </div>
        
        <hr/>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="{% static 'bootstrap.min.js' %}"></script>
    </body>
</html>
